@model IEnumerable<SystemNFO.Models.Event>


<h2></h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nameevent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Databegin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dataend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dataperenos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dataplan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datacontrol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nadzorfact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nameevent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Databegin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dataend)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dataperenos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dataplan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datacontrol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nadzorfact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mode)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.EventId }) |
            @Html.ActionLink("Информация", "Details", new { id=item.EventId }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.EventId })
        </td>
    </tr>
}

</table>
