@model SystemNFO.Models.Cur

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ogrn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ogrn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Socrnameorg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Socrnameorg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CurId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
